
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');
:root{
    --color1: #202840;
    --color2: #0D758C;
    --color3: #A0C3D9;
    --color4: #6698D9;
    --color5: #4E7FBF;
    --color5: #FFF;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans';

}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: var(--color1);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 100vh;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(191, 78%, 68%, 0.514), hsla(192, 68%, 41%, 0.575)), url("portada.jpg");  
    background: linear-gradient(to right, hsla(191, 78%, 68%, 0.63), hsla(192, 68%, 41%, 0.671)), url("portada.jpg"); 
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    
    }

    nav{
        text-align: right;
        padding: 30px 50px 0 0;
    }

    nav > a{
        color: var(--color5);
        font-weight: 450;
        text-decoration: none;
        margin-right: 15px;

    }

    nav > a:hover{
        text-decoration: underline;
        font-size: larger;
    }

    header .textos-header{
        display: flex;
        height: 630px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        
    }

    .textos-header h1{
        font-size: 50px;
        color: #FFF;
    }
    .textos-header h2{
        font-size: 30px;
        font-weight: 300;
        color: #FFF;
    }

    .wave{
        position: absolute;
        bottom: 0;
        width: 100%;
    }